name: ssh github actions
run-name: ssh github actions
on: workflow_dispatch
permissions:
  contents: write
jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: get nix
        uses: cachix/install-nix-action@v31
      - name: Setup upterm session
        uses: owenthereal/action-upterm@v1
        with:
          limit-access-to-actor: true
          limit-access-to-users: AnasSaeed1
